.row {
   margin-left: -15px;
   margin-right: -15px;
}

.key .keys {
   background-color: #e6e6e6;
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 8px;
   padding-bottom: 8px;
   cursor: pointer;
   height: 35px;
   width: 35px;
}

.keys .key>a,
.globalsite.cmp-globalsite-glossarysearch .keys .numkey>a {
   font-size: 17px;
   font-weight: 500;
   line-height: 20px;
   text-align: center;
   color: #0052d6;
   display: block;
   cursor: pointer;
}
.key {
   display: flex;
   flex-wrap: wrap;
}
.letter {
   width: 33.33%;
}
.column {
   list-style: none;
}

.custom-alert {
   border: 1px solid lightgray;
   padding: 10px;
   background-color: rgb(240, 240, 240);
}

.edit-buttons {
   height: 25px;
   vertical-align: t;
}
.alphabet-button, .top-buttons button {
   margin: 3px;
}
#alphaButtons {
   padding-bottom: 20px;
}
#divAlphaTerms {
   column-count: 3; 
   column-gap: 20px;
}

.term-column {
   break-inside: avoid;
   margin-bottom: 20px;
   margin-top: 5px;
}
.alphabet-button {
   margin: 3px;
}
