<section>
<div class="emt-container-inner">
    <div class="root responsivegrid">
      <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
        <div class="responsivegrid aem-GridColumn aem-GridColumn--default--12">
          <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
            <div class="globalsite cmp-globalsite-hero js-hero-check oldviz aem-GridColumn aem-GridColumn--default--12">
              <section>
                <style>
                  .heroImageParent-1692692311087>div {
                    background-image: url('');
                  }
  
                  @media all and (max-width: 767.98px) {
                    .heroImageParent-1692692311087 {
                      display: none;
                    }
                  }
  
                  .heroImageNoRepeatParent-1692692311087>div {
                    background-image: url('');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                  }
  
                  @media all and (max-width: 767.98px) {
                    .heroImageNoRepeatParent-1692692311087 {
                      display: none;
                    }
                  }
                </style>
                <!-- simpletexteyebrow -->
  
                <!-- simpletexteyebrow Template -->
                <div class="simpletexteyebrow display-flex grid-full no-top hero-mb" style="background-color: #F4F4F4;">
                  <div class="hero-content grid-wide no-top-bottom">
                    <div class="simple-rep grid-wide-inner ">
                      <div class="child-cell">
                        <h1 data-en-heading="Glossary" style="color:#002856">Vula Glossary</h1>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- simpletexteyebrow Template Ends -->
              </section>
            </div>
            <div class="globalsite cmp-globalsite-glossarysearch oldviz aem-GridColumn aem-GridColumn--default--12">
            </div>
            <div
              class="globalsite cmp-globalsite-glossarysearchrelatedterms oldviz aem-GridColumn aem-GridColumn--default--12">
              <section class="grid-norm  ">
                <h2>Top Accounting Terms</h2>
                <div class="row hidden-sm">
                  <div class="col-md-4">
                    <ul> 
                      <!-- foreach domain > for each term in domain -->
                          {% foreach ($displayDomains as $x => $val) { %}
                          <li>{{$val['term'] }}</a></li>
                          {% } %}
                    </ul>
                  </div>
              </section>
            </div>
            <div
              class="globalsite cmp-globalsite-glossarysearchrelatedterms oldviz aem-GridColumn aem-GridColumn--default--12">
              <section class="grid-norm no-top ">
                <h2>Human Resources Trending Terms</h2>
                <div class="row hidden-sm">
                  <div class="col-md-4">
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/human-resources/glossary/attrition" class="p-small">Attrition</a>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/human-resources/glossary/diversity-and-inclusion-d-i-" class="p-small">Diversity and
                          Inclusion (D&amp;I)</a>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/human-resources/glossary/future-of-work" class="p-small">Future
                          of Work</a>
                      </div>
                    </div>
                  </div>
  
                  <div class="col-md-4">
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/human-resources/glossary/hr-strategic-planning" class="p-small">HR Strategic
                          Planning</a>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/information-technology/glossary/hybrid-work" class="p-small">Hybrid Work</a>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/human-resources/glossary/johari-window" class="p-small">Johari
                          Window</a>
                      </div>
                    </div>
                  </div>
  
                  <div class="col-md-4">
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/human-resources/glossary/performance-improvement-plan-pip-"
                          class="p-small">Performance Improvement Plan (PIP)</a>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/human-resources/glossary/quiet-quitting" class="p-small">Quiet
                          Quitting</a>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/human-resources/glossary/workforce-diversity" class="p-small">Workforce Diversity</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row hidden-md hidden-xs hidden-lg">
                  <div class="col-sm-6">
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/human-resources/glossary/attrition" class="p-small">Attrition</a>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/human-resources/glossary/diversity-and-inclusion-d-i-" class="p-small">Diversity and
                          Inclusion (D&amp;I)</a>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/human-resources/glossary/future-of-work" class="p-small">Future
                          of Work</a>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/human-resources/glossary/hr-strategic-planning" class="p-small">HR Strategic
                          Planning</a>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/information-technology/glossary/hybrid-work" class="p-small">Hybrid Work</a>
                      </div>
                    </div>
                  </div>
  
                  <div class="col-sm-6">
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/human-resources/glossary/johari-window" class="p-small">Johari
                          Window</a>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/human-resources/glossary/performance-improvement-plan-pip-"
                          class="p-small">Performance Improvement Plan (PIP)</a>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/human-resources/glossary/quiet-quitting" class="p-small">Quiet
                          Quitting</a>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/human-resources/glossary/workforce-diversity" class="p-small">Workforce Diversity</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="glossary-related-term-cta">
                  <div class="grid-norm no-top-bottom rmg-b30 ">
                    <div class="light-bg" align="left">
                      <a data-en-title="Visit HR Glossary" data-placement="auto" href="/en/human-resources/glossary"
                        role="button" class=" btn btBtn btnNormalWidth btn-secondary  " target="_self">
                        Visit HR Glossary
                      </a>
                    </div>
                  </div>
                </div>
              </section>
            </div>
            <div
              class="globalsite cmp-globalsite-glossarysearchrelatedterms oldviz aem-GridColumn aem-GridColumn--default--12">
              <section class="grid-norm no-top ">
                <h2>Information Technology Trending Terms</h2>
                <div class="row hidden-sm">
                  <div class="col-md-4">
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/information-technology/glossary/artificial-general-intelligence-agi"
                          class="p-small">Artificial general intelligence (AGI)</a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/information-technology/glossary/artificial-intelligence" class="p-small">Artificial
                          Intelligence (AI)</a>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/information-technology/glossary/deep-learning" class="p-small">Deep Learning</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/information-technology/glossary/enterprise-architecture-ea"
                          class="p-small">Enterprise Architecture (EA)</a>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/information-technology/glossary/generative-adversarial-networks-gan"
                          class="p-small">Generative Adversarial Networks Gan</a>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/information-technology/glossary/generative-pretrained-transformer-4-gpt-4"
                          class="p-small">Generative Pretrained Transformer 4 (GPT-4)</a>
                      </div>
                    </div>
                  </div>
  
                  <div class="col-md-4">
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/information-technology/glossary/it-strategy" class="p-small">IT
                          Strategy</a>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/information-technology/glossary/large-language-models-llm" class="p-small">Large
                          Language Models (LLMs)</a>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/information-technology/glossary/sales-analytics" class="p-small">Sales Analytics</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row hidden-md hidden-xs hidden-lg">
                  <div class="col-sm-6">
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/information-technology/glossary/artificial-general-intelligence-agi"
                          class="p-small">Artificial general intelligence (AGI)</a>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/information-technology/glossary/artificial-intelligence" class="p-small">Artificial
                          Intelligence (AI)</a>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/information-technology/glossary/deep-learning" class="p-small">Deep Learning</a>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/information-technology/glossary/enterprise-architecture-ea"
                          class="p-small">Enterprise Architecture (EA)</a>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/information-technology/glossary/generative-adversarial-networks-gan"
                          class="p-small">Generative Adversarial Networks Gan</a>
                      </div>
                    </div>
                  </div>
  
                  <div class="col-sm-6">
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/information-technology/glossary/generative-pretrained-transformer-4-gpt-4"
                          class="p-small">Generative Pretrained Transformer 4 (GPT-4)</a>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/information-technology/glossary/it-strategy" class="p-small">IT
                          Strategy</a>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/information-technology/glossary/large-language-models-llm" class="p-small">Large
                          Language Models (LLMs)</a>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/information-technology/glossary/sales-analytics" class="p-small">Sales Analytics</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="glossary-related-term-cta">
                  <div class="grid-norm no-top-bottom rmg-b30 ">
                    <div class="light-bg" align="left">
                      <a data-en-title="Visit IT Glossary" data-placement="auto"
                        href="/en/information-technology/glossary" role="button"
                        class=" btn btBtn btnNormalWidth btn-secondary  " target="_self">
                        Visit IT Glossary
                      </a>
                    </div>
                  </div>
                </div>
              </section>
            </div>
            <div
              class="globalsite cmp-globalsite-glossarysearchrelatedterms oldviz aem-GridColumn aem-GridColumn--default--12">
  
  
  
  
              <section class="grid-norm no-top ">
                <h2>Marketing Trending Terms</h2>
                <div class="row hidden-sm">
                  <div class="col-md-4">
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/marketing/glossary/chief-marketing-officer-cmo-" class="p-small">Chief Marketing
                          Officer (CMO)</a>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/marketing/glossary/email-marketing" class="p-small">Email
                          Marketing</a>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/marketing/glossary/marketing-channel" class="p-small">Marketing
                          Channel</a>
                      </div>
                    </div>
                  </div>
  
                  <div class="col-md-4">
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/marketing/glossary/marketing-technology" class="p-small">Marketing Technology</a>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/marketing/glossary/mobile-marketing" class="p-small">Mobile
                          Marketing</a>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/marketing/glossary/omnichannel" class="p-small">Omnichannel</a>
                      </div>
                    </div>
                  </div>
  
                  <div class="col-md-4">
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/marketing/glossary/search-engine-optimization-seo-" class="p-small">Search Engine
                          Optimization (SEO)</a>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/marketing/glossary/social-media-analytics" class="p-small">Social Media Analytics</a>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/marketing/glossary/social-media-marketing" class="p-small">Social Media Marketing</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row hidden-md hidden-xs hidden-lg">
                  <div class="col-sm-6">
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/marketing/glossary/chief-marketing-officer-cmo-" class="p-small">Chief Marketing
                          Officer (CMO)</a>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/marketing/glossary/email-marketing" class="p-small">Email
                          Marketing</a>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/marketing/glossary/marketing-channel" class="p-small">Marketing
                          Channel</a>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/marketing/glossary/marketing-technology" class="p-small">Marketing Technology</a>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/marketing/glossary/mobile-marketing" class="p-small">Mobile
                          Marketing</a>
                      </div>
                    </div>
                  </div>
  
                  <div class="col-sm-6">
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/marketing/glossary/omnichannel" class="p-small">Omnichannel</a>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/marketing/glossary/search-engine-optimization-seo-" class="p-small">Search Engine
                          Optimization (SEO)</a>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/marketing/glossary/social-media-analytics" class="p-small">Social Media Analytics</a>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/marketing/glossary/social-media-marketing" class="p-small">Social Media Marketing</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="glossary-related-term-cta">
                  <div class="grid-norm no-top-bottom rmg-b30 ">
  
                    <div class="light-bg" align="left">
                      <a data-en-title="Visit Marketing Glossary" data-placement="auto" href="/en/marketing/glossary"
                        role="button" class=" btn btBtn btnNormalWidth btn-secondary  " target="_self">
                        Visit Marketing Glossary
                      </a>
                    </div>
                  </div>
                </div>
              </section>
            </div>
            <div
              class="globalsite cmp-globalsite-glossarysearchrelatedterms oldviz aem-GridColumn aem-GridColumn--default--12">
              <section class="grid-norm no-top ">
                <h2>Sales Trending Terms</h2>
                <div class="row hidden-sm">
                  <div class="col-md-4">
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/sales/glossary/customer-segmentation" class="p-small">Customer
                          Segmentation</a>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/sales/glossary/pipeline-velocity" class="p-small">Pipeline
                          Velocity</a>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/sales/glossary/revenue-operations" class="p-small">Revenue
                          Operations</a>
                      </div>
                    </div>
                  </div>
  
                  <div class="col-md-4">
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/sales/glossary/sales-funnel" class="p-small">Sales Funnel</a>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/sales/glossary/sales-intelligence" class="p-small">Sales
                          Intelligence</a>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/sales/glossary/sales-pipeline" class="p-small">Sales
                          Pipeline</a>
                      </div>
                    </div>
                  </div>
  
                  <div class="col-md-4">
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/sales/glossary/sales-strategy" class="p-small">Sales
                          Strategy</a>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/sales/glossary/sales-qualified-lead-sql-" class="p-small">Sales-Qualified Lead
                          (SQL)</a>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/sales/glossary/sense-making" class="p-small">Sense Making</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row hidden-md hidden-xs hidden-lg">
                  <div class="col-sm-6">
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/sales/glossary/customer-segmentation" class="p-small">Customer
                          Segmentation</a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/sales/glossary/pipeline-velocity" class="p-small">Pipeline
                          Velocity</a>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/sales/glossary/revenue-operations" class="p-small">Revenue
                          Operations</a>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/sales/glossary/sales-funnel" class="p-small">Sales Funnel</a>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/sales/glossary/sales-intelligence" class="p-small">Sales
                          Intelligence</a>
                      </div>
                    </div>
                  </div>
  
                  <div class="col-sm-6">
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/sales/glossary/sales-pipeline" class="p-small">Sales
                          Pipeline</a>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/sales/glossary/sales-strategy" class="p-small">Sales
                          Strategy</a>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/sales/glossary/sales-qualified-lead-sql-" class="p-small">Sales-Qualified Lead
                          (SQL)</a>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <a href="/en/sales/glossary/sense-making" class="p-small">Sense Making</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="glossary-related-term-cta">
                  <div class="grid-norm no-top-bottom rmg-b30 ">
                    <div class="light-bg" align="left">
                      <a data-en-title="Visit Sales Glossary" data-placement="auto" href="/en/sales/glossary"
                        role="button" class=" btn btBtn btnNormalWidth btn-secondary  " target="_self">
                        Visit Sales Glossary
                      </a>
                    </div>
                  </div>
                </div>
              </section>
            </div>
            <div class="globalsite cmp-globalsite-button oldviz aem-GridColumn aem-GridColumn--default--12">
              <div class="grid-norm no-top-bottom rmg-b30 ">
  
                <div class="light-bg" align="left">
                  <a data-en-title="View All Glossary Terms" data-placement="auto" href="{{ $search_url }}" role="button"
                    class=" btn btBtn btnNormalWidth btn-arrow  "target="_self">
                    View All Glossary Terms
                    <span class="text-link-arrow gcom-icon-angle-right">>>></span>
                  </a>
                </div>
              </div>
            </div>
            <div class="globalsite cmp-globalsite-freeform oldviz aem-GridColumn aem-GridColumn--default--12">
              <style type="text/css">
                .globalsite.cmp-globalsite-glossarysearchrelatedterms.aem-GridColumn.aem-GridColumn--default--12 .grid-norm {
                  margin-bottom: 0px;
                }
              </style>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</section> 