<style>
  ul {
    -webkit-column-count: 3;
    /* -moz-column-count: 3; */
    column-count: 3;
    float: left;
    /* width: 33.33%; */
  }
</style>

<section>
  <div class="emt-container-inner">
    <div class="root responsivegrid">
      <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
        <div class="responsivegrid aem-GridColumn aem-GridColumn--default--12">
          <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
            <div class="globalsite cmp-globalsite-hero js-hero-check oldviz aem-GridColumn aem-GridColumn--default--12">
              <section>
                <style>
                  .heroImageParent-1692692311087>div {
                    background-image: url('');
                  }

                  @media all and (max-width: 767.98px) {
                    .heroImageParent-1692692311087 {
                      display: none;
                    }
                  }

                  .heroImageNoRepeatParent-1692692311087>div {
                    background-image: url('');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                  }

                  @media all and (max-width: 767.98px) {
                    .heroImageNoRepeatParent-1692692311087 {
                      display: none;
                    }
                  }
                </style>
                <!-- simpletexteyebrow -->

                <!-- simpletexteyebrow Template -->
                <div class="simpletexteyebrow display-flex grid-full no-top hero-mb" style="background-color: #F4F4F4;">
                  <div class="hero-content grid-wide no-top-bottom">
                    <div class="simple-rep grid-wide-inner ">
                      <div class="child-cell">
                        <h1 data-en-heading="Glossary" style="color:#002856">Vula Glossary</h1>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- simpletexteyebrow Template Ends -->
              </section>
            </div>
            <div class="globalsite cmp-globalsite-glossarysearch oldviz aem-GridColumn aem-GridColumn--default--12">
            </div>
            <div
              class="globalsite cmp-globalsite-glossarysearchrelatedterms oldviz aem-GridColumn aem-GridColumn--default--12">
              <h2>Top Accounting Terms</h2>
              <section class="grid-norm no-top  ">
                <div class="row hidden-sm">
                  <div class="col-md-4">
                    <div class="row">
                      <div class="col-md-1 col-sm-3">
                        <ul>
                          <!-- foreach domain > for each term in domain -->
                          {% foreach ($displayDomains as $x => $val) { %}
                          <li>{{$val['term'] }}</li>
                          {% } %}
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
            <div
              class="globalsite cmp-globalsite-glossarysearchrelatedterms oldviz aem-GridColumn aem-GridColumn--default--12">
              <section class="grid-norm no-top ">
                <h2>Botany Trending Terms</h2>
                <div class="row hidden-sm">
                  <div class="col-md-4">
                    <section class="grid-norm no-top  ">
                      <div class="row hidden-sm">
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-1 col-sm-3">
                              <ul>
                                <!-- foreach domain > for each term in domain -->
                                {% foreach ($displayDomains as $x => $val) { %}
                                <li>{{$val['term'] }}</li>
                                {% } %}
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
                <div class="glossary-related-term-cta">
                  <div class="grid-norm no-top-bottom rmg-b30 ">
                    <div class="light-bg" align="left">
                      <a data-en-title="Visit HR Glossary" data-placement="auto" href="/en/human-resources/glossary"
                        role="button" class=" btn btBtn btnNormalWidth btn-secondary  " target="_self">
                        Visit Botany Glossary
                      </a>
                    </div>
                  </div>
                </div>
              </section>
            </div>
            <div
              class="globalsite cmp-globalsite-glossarysearchrelatedterms oldviz aem-GridColumn aem-GridColumn--default--12">
              <section class="grid-norm no-top ">
                <h2>Chemistry Trending Terms</h2>
                <div class="row hidden-sm">
                  <div class="col-md-4">
                    <section class="grid-norm no-top  ">
                      <div class="row hidden-sm">
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-1 col-sm-3">
                              <ul>
                                <!-- foreach domain > for each term in domain -->
                                {% foreach ($displayDomains as $x => $val) { %}
                                <li>{{$val['term'] }}</li>
                                {% } %}
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
                <div class="glossary-related-term-cta">
                  <div class="grid-norm no-top-bottom rmg-b30 ">
                    <div class="light-bg" align="left">
                      <a data-en-title="Visit IT Glossary" data-placement="auto"
                        href="/en/information-technology/glossary" role="button"
                        class=" btn btBtn btnNormalWidth btn-secondary  " target="_self">
                        Visit Chemistry Glossary
                      </a>
                    </div>
                  </div>
                </div>
              </section>
            </div>
            <div
              class="globalsite cmp-globalsite-glossarysearchrelatedterms oldviz aem-GridColumn aem-GridColumn--default--12">
              <section class="grid-norm no-top ">
                <h2>Computer Science Trending Terms</h2>
                <div class="row hidden-sm">
                  <div class="col-md-4">
                    <section class="grid-norm no-top  ">
                      <div class="row hidden-sm">
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-1 col-sm-3">
                              <ul>
                                <!-- foreach domain > for each term in domain -->
                                {% foreach ($displayDomains as $x => $val) { %}
                                <li>{{$val['term'] }}</li>
                                {% } %}
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
                <div class="glossary-related-term-cta">
                  <div class="grid-norm no-top-bottom rmg-b30 ">
                    <div class="light-bg" align="left">
                      <a data-en-title="Visit Marketing Glossary" data-placement="auto" href="/en/marketing/glossary"
                        role="button" class=" btn btBtn btnNormalWidth btn-secondary  " target="_self">
                        Visit Computer Science Glossary
                      </a>
                    </div>
                  </div>
                </div>
              </section>
            </div>
            <div
              class="globalsite cmp-globalsite-glossarysearchrelatedterms oldviz aem-GridColumn aem-GridColumn--default--12">
              <section class="grid-norm no-top ">
                <h2>Economics Trending Terms</h2>
                <div class="row hidden-sm">
                  <div class="col-md-4">
                    <section class="grid-norm no-top  ">
                      <div class="row hidden-sm">
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-1 col-sm-3">
                              <ul>
                                <!-- foreach domain > for each term in domain -->
                                {% foreach ($displayDomains as $x => $val) { %}
                                <li>{{$val['term'] }}</li>
                                {% } %}
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
                <div class="glossary-related-term-cta">
                  <div class="grid-norm no-top-bottom rmg-b30 ">
                    <div class="light-bg" align="left">
                      <a data-en-title="Visit Sales Glossary" data-placement="auto" href="/en/sales/glossary"
                        role="button" class=" btn btBtn btnNormalWidth btn-secondary  " target="_self">
                        Visit Economics Glossary
                      </a>
                    </div>
                  </div>
                </div>
              </section>
            </div>

            <div
              class="globalsite cmp-globalsite-glossarysearchrelatedterms oldviz aem-GridColumn aem-GridColumn--default--12">
              <section class="grid-norm no-top ">
                <h2>Environmental and Geographical Science Trending Terms</h2>
                <div class="row hidden-sm">
                  <div class="col-md-4">
                    <section class="grid-norm no-top  ">
                      <div class="row hidden-sm">
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-1 col-sm-3">
                              <ul>
                                <!-- foreach domain > for each term in domain -->
                                {% foreach ($displayDomains as $x => $val) { %}
                                <li>{{$val['term'] }}</li>
                                {% } %}
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
                <div class="glossary-related-term-cta">
                  <div class="grid-norm no-top-bottom rmg-b30 ">
                    <div class="light-bg" align="left">
                      <a data-en-title="Visit Sales Glossary" data-placement="auto" href="/en/sales/glossary"
                        role="button" class=" btn btBtn btnNormalWidth btn-secondary  " target="_self">
                        Visit Envi and Geo Sc Glossary
                      </a>
                    </div>
                  </div>
                </div>
              </section>
            </div>

            <div
              class="globalsite cmp-globalsite-glossarysearchrelatedterms oldviz aem-GridColumn aem-GridColumn--default--12">
              <section class="grid-norm no-top ">
                <h2>Film and Media Studies Trending Terms</h2>
                <div class="row hidden-sm">
                  <div class="col-md-4">
                    <section class="grid-norm no-top  ">
                      <div class="row hidden-sm">
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-1 col-sm-3">
                              <ul>
                                <!-- foreach domain > for each term in domain -->
                                {% foreach ($displayDomains as $x => $val) { %}
                                <li>{{$val['term'] }}</li>
                                {% } %}
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
                <div class="glossary-related-term-cta">
                  <div class="grid-norm no-top-bottom rmg-b30 ">
                    <div class="light-bg" align="left">
                      <a data-en-title="Visit Sales Glossary" data-placement="auto" href="/en/sales/glossary"
                        role="button" class=" btn btBtn btnNormalWidth btn-secondary  " target="_self">
                        Visit Film and Media Studies Glossary
                      </a>
                    </div>
                  </div>
                </div>
              </section>
            </div>

            <div
              class="globalsite cmp-globalsite-glossarysearchrelatedterms oldviz aem-GridColumn aem-GridColumn--default--12">
              <section class="grid-norm no-top ">
                <h2>Health Sciences Trending Terms</h2>
                <div class="row hidden-sm">
                  <div class="col-md-4">
                    <section class="grid-norm no-top  ">
                      <div class="row hidden-sm">
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-1 col-sm-3">
                              <ul>
                                <!-- foreach domain > for each term in domain -->
                                {% foreach ($displayDomains as $x => $val) { %}
                                <li>{{$val['term'] }}</li>
                                {% } %}
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
                <div class="glossary-related-term-cta">
                  <div class="grid-norm no-top-bottom rmg-b30 ">
                    <div class="light-bg" align="left">
                      <a data-en-title="Visit Sales Glossary" data-placement="auto" href="/en/sales/glossary"
                        role="button" class=" btn btBtn btnNormalWidth btn-secondary  " target="_self">
                        Visit Health Sciences Glossary
                      </a>
                    </div>
                  </div>
                </div>
              </section>
            </div>

            <div
              class="globalsite cmp-globalsite-glossarysearchrelatedterms oldviz aem-GridColumn aem-GridColumn--default--12">
              <section class="grid-norm no-top ">
                <h2>Law Trending Terms</h2>
                <div class="row hidden-sm">
                  <div class="col-md-4">
                    <section class="grid-norm no-top  ">
                      <div class="row hidden-sm">
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-1 col-sm-3">
                              <ul>
                                <!-- foreach domain > for each term in domain -->
                                {% foreach ($displayDomains as $x => $val) { %}
                                <li>{{$val['term'] }}</li>
                                {% } %}
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
                <div class="glossary-related-term-cta">
                  <div class="grid-norm no-top-bottom rmg-b30 ">
                    <div class="light-bg" align="left">
                      <a data-en-title="Visit Sales Glossary" data-placement="auto" href="/en/sales/glossary"
                        role="button" class=" btn btBtn btnNormalWidth btn-secondary  " target="_self">
                        Visit Law Glossary
                      </a>
                    </div>
                  </div>
                </div>
              </section>
            </div>

            <div
              class="globalsite cmp-globalsite-glossarysearchrelatedterms oldviz aem-GridColumn aem-GridColumn--default--12">
              <section class="grid-norm no-top ">
                <h2>Linguistics and Literature Trending Terms</h2>
                <div class="row hidden-sm">
                  <div class="col-md-4">
                    <section class="grid-norm no-top  ">
                      <div class="row hidden-sm">
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-1 col-sm-3">
                              <ul>
                                <!-- foreach domain > for each term in domain -->
                                {% foreach ($displayDomains as $x => $val) { %}
                                <li>{{$val['term'] }}</li>
                                {% } %}
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
                <div class="glossary-related-term-cta">
                  <div class="grid-norm no-top-bottom rmg-b30 ">
                    <div class="light-bg" align="left">
                      <a data-en-title="Visit Sales Glossary" data-placement="auto" href="/en/sales/glossary"
                        role="button" class=" btn btBtn btnNormalWidth btn-secondary  " target="_self">
                        Visit Lings and Lit Glossary
                      </a>
                    </div>
                  </div>
                </div>
              </section>
            </div>

            <div
              class="globalsite cmp-globalsite-glossarysearchrelatedterms oldviz aem-GridColumn aem-GridColumn--default--12">
              <section class="grid-norm no-top ">
                <h2>Maths and Statistics Trending Terms</h2>
                <div class="row hidden-sm">
                  <div class="col-md-4">
                    <section class="grid-norm no-top  ">
                      <div class="row hidden-sm">
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-1 col-sm-3">
                              <ul>
                                <!-- foreach domain > for each term in domain -->
                                {% foreach ($displayDomains as $x => $val) { %}
                                <li>{{$val['term'] }}</li>
                                {% } %}
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
                <div class="glossary-related-term-cta">
                  <div class="grid-norm no-top-bottom rmg-b30 ">
                    <div class="light-bg" align="left">
                      <a data-en-title="Visit Sales Glossary" data-placement="auto" href="/en/sales/glossary"
                        role="button" class=" btn btBtn btnNormalWidth btn-secondary  " target="_self">
                        Visit Maths & Stats Glossary
                      </a>
                    </div>
                  </div>
                </div>
              </section>
            </div>

            <div
              class="globalsite cmp-globalsite-glossarysearchrelatedterms oldviz aem-GridColumn aem-GridColumn--default--12">
              <section class="grid-norm no-top ">
                <h2>Music Trending Terms</h2>
                <div class="row hidden-sm">
                  <div class="col-md-4">
                    <section class="grid-norm no-top  ">
                      <div class="row hidden-sm">
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-1 col-sm-3">
                              <ul>
                                <!-- foreach domain > for each term in domain -->
                                {% foreach ($displayDomains as $x => $val) { %}
                                <li>{{$val['term'] }}</li>
                                {% } %}
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
                <div class="glossary-related-term-cta">
                  <div class="grid-norm no-top-bottom rmg-b30 ">
                    <div class="light-bg" align="left">
                      <a data-en-title="Visit Sales Glossary" data-placement="auto" href="/en/sales/glossary"
                        role="button" class=" btn btBtn btnNormalWidth btn-secondary  " target="_self">
                        Visit Music Glossary
                      </a>
                    </div>
                  </div>
                </div>
              </section>
            </div>

            <div
              class="globalsite cmp-globalsite-glossarysearchrelatedterms oldviz aem-GridColumn aem-GridColumn--default--12">
              <section class="grid-norm no-top ">
                <h2>Philosophy Trending Terms</h2>
                <div class="row hidden-sm">
                  <div class="col-md-4">
                    <section class="grid-norm no-top  ">
                      <div class="row hidden-sm">
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-1 col-sm-3">
                              <ul>
                                <!-- foreach domain > for each term in domain -->
                                {% foreach ($displayDomains as $x => $val) { %}
                                <li>{{$val['term'] }}</li>
                                {% } %}
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
                <div class="glossary-related-term-cta">
                  <div class="grid-norm no-top-bottom rmg-b30 ">
                    <div class="light-bg" align="left">
                      <a data-en-title="Visit Sales Glossary" data-placement="auto" href="/en/sales/glossary"
                        role="button" class=" btn btBtn btnNormalWidth btn-secondary  " target="_self">
                        Visit Philosophy Glossary
                      </a>
                    </div>
                  </div>
                </div>
              </section>
            </div>

            <div
              class="globalsite cmp-globalsite-glossarysearchrelatedterms oldviz aem-GridColumn aem-GridColumn--default--12">
              <section class="grid-norm no-top ">
                <h2>Physics Trending Terms</h2>
                <div class="row hidden-sm">
                  <div class="col-md-4">
                    <section class="grid-norm no-top  ">
                      <div class="row hidden-sm">
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-1 col-sm-3">
                              <ul>
                                <!-- foreach domain > for each term in domain -->
                                {% foreach ($displayDomains as $x => $val) { %}
                                <li>{{$val['term'] }}</li>
                                {% } %}
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
                <div class="glossary-related-term-cta">
                  <div class="grid-norm no-top-bottom rmg-b30 ">
                    <div class="light-bg" align="left">
                      <a data-en-title="Visit Sales Glossary" data-placement="auto" href="/en/sales/glossary"
                        role="button" class=" btn btBtn btnNormalWidth btn-secondary  " target="_self">
                        Visit Physics Glossary
                      </a>
                    </div>
                  </div>
                </div>
              </section>
            </div>

            <div
              class="globalsite cmp-globalsite-glossarysearchrelatedterms oldviz aem-GridColumn aem-GridColumn--default--12">
              <section class="grid-norm no-top ">
                <h2>Political Studies Trending Terms</h2>
                <div class="row hidden-sm">
                  <div class="col-md-4">
                    <section class="grid-norm no-top  ">
                      <div class="row hidden-sm">
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-1 col-sm-3">
                              <ul>
                                <!-- foreach domain > for each term in domain -->
                                {% foreach ($displayDomains as $x => $val) { %}
                                <li>{{$val['term'] }}</li>
                                {% } %}
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
                <div class="glossary-related-term-cta">
                  <div class="grid-norm no-top-bottom rmg-b30 ">
                    <div class="light-bg" align="left">
                      <a data-en-title="Visit Sales Glossary" data-placement="auto" href="/en/sales/glossary"
                        role="button" class=" btn btBtn btnNormalWidth btn-secondary  " target="_self">
                        Visit Political Studies Glossary
                      </a>
                    </div>
                  </div>
                </div>
              </section>
            </div>

            <div
              class="globalsite cmp-globalsite-glossarysearchrelatedterms oldviz aem-GridColumn aem-GridColumn--default--12">
              <section class="grid-norm no-top ">
                <h2>Psychology Trending Terms</h2>
                <div class="row hidden-sm">
                  <div class="col-md-4">
                    <section class="grid-norm no-top  ">
                      <div class="row hidden-sm">
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-1 col-sm-3">
                              <ul>
                                <!-- foreach domain > for each term in domain -->
                                {% foreach ($displayDomains as $x => $val) { %}
                                <li>{{$val['term'] }}</li>
                                {% } %}
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
                <div class="glossary-related-term-cta">
                  <div class="grid-norm no-top-bottom rmg-b30 ">
                    <div class="light-bg" align="left">
                      <a data-en-title="Visit Sales Glossary" data-placement="auto" href="/en/sales/glossary"
                        role="button" class=" btn btBtn btnNormalWidth btn-secondary  " target="_self">
                        Visit Psychology Glossary
                      </a>
                    </div>
                  </div>
                </div>
              </section>
            </div>

            <div
              class="globalsite cmp-globalsite-glossarysearchrelatedterms oldviz aem-GridColumn aem-GridColumn--default--12">
              <section class="grid-norm no-top ">
                <h2>Social Development Trending Terms</h2>
                <div class="row hidden-sm">
                  <div class="col-md-4">
                    <section class="grid-norm no-top  ">
                      <div class="row hidden-sm">
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-1 col-sm-3">
                              <ul>
                                <!-- foreach domain > for each term in domain -->
                                {% foreach ($displayDomains as $x => $val) { %}
                                <li>{{$val['term'] }}</li>
                                {% } %}
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
                <div class="glossary-related-term-cta">
                  <div class="grid-norm no-top-bottom rmg-b30 ">
                    <div class="light-bg" align="left">
                      <a data-en-title="Visit Sales Glossary" data-placement="auto" href="/en/sales/glossary"
                        role="button" class=" btn btBtn btnNormalWidth btn-secondary  " target="_self">
                        Visit Social Development Glossary
                      </a>
                    </div>
                  </div>
                </div>
              </section>
            </div>

            <div
              class="globalsite cmp-globalsite-glossarysearchrelatedterms oldviz aem-GridColumn aem-GridColumn--default--12">
              <section class="grid-norm no-top ">
                <h2>Sociology Trending Terms</h2>
                <div class="row hidden-sm">
                  <div class="col-md-4">
                    <section class="grid-norm no-top  ">
                      <div class="row hidden-sm">
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-1 col-sm-3">
                              <ul>
                                <!-- foreach domain > for each term in domain -->
                                {% foreach ($displayDomains as $x => $val) { %}
                                <li>{{$val['term'] }}</li>
                                {% } %}
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
                <div class="glossary-related-term-cta">
                  <div class="grid-norm no-top-bottom rmg-b30 ">
                    <div class="light-bg" align="left">
                      <a data-en-title="Visit Sales Glossary" data-placement="auto" href="/en/sales/glossary"
                        role="button" class=" btn btBtn btnNormalWidth btn-secondary  " target="_self">
                        Visit Sociology Glossary
                      </a>
                    </div>
                  </div>
                </div>
              </section>
            </div>

            <div
              class="globalsite cmp-globalsite-glossarysearchrelatedterms oldviz aem-GridColumn aem-GridColumn--default--12">
              <section class="grid-norm no-top ">
                <h2>Zoology Trending Terms</h2>
                <div class="row hidden-sm">
                  <div class="col-md-4">
                    <section class="grid-norm no-top  ">
                      <div class="row hidden-sm">
                        <div class="col-md-4">
                          <div class="row">
                            <div class="col-md-1 col-sm-3">
                              <ul>
                                <!-- foreach domain > for each term in domain -->
                                {% foreach ($displayDomains as $x => $val) { %}
                                <li>{{$val['term'] }}</li>
                                {% } %}
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
                <div class="glossary-related-term-cta">
                  <div class="grid-norm no-top-bottom rmg-b30 ">
                    <div class="light-bg" align="left">
                      <a data-en-title="Visit Sales Glossary" data-placement="auto" href="/en/sales/glossary"
                        role="button" class=" btn btBtn btnNormalWidth btn-secondary  " target="_self">
                        Visit Zoology Glossary
                      </a>
                    </div>
                  </div>
                </div>
              </section>
            </div>
            <div class="globalsite cmp-globalsite-button oldviz aem-GridColumn aem-GridColumn--default--12">
              <div class="grid-norm no-top-bottom rmg-b30 ">

                <div class="light-bg" align="left">
                  <a data-en-title="View All Glossary Terms" data-placement="auto" href="{{ $search_url }}"
                    role="button" class=" btn btBtn btnNormalWidth btn-arrow  " target="_self">
                    View All Glossary Terms
                    <span class="text-link-arrow gcom-icon-angle-right">>>></span>
                  </a>
                </div>
              </div>
            </div>
            <div class="globalsite cmp-globalsite-freeform oldviz aem-GridColumn aem-GridColumn--default--12">
              <style type="text/css">
                .globalsite.cmp-globalsite-glossarysearchrelatedterms.aem-GridColumn.aem-GridColumn--default--12 .grid-norm {
                  margin-bottom: 0px;
                }
              </style>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</section>