{% foreach($scripts as $script): %}
<script src="{{$script}}" type="text/javascript"></script>
{% endforeach; %}

<script type="text/javascript">
    jQuery.fn.exists = function () { return this.length > 0; }

    function genCharArray(charA, charZ) {
        var alpha = [], i = charA.charCodeAt(0), j = charZ.charCodeAt(0);

        for (i = 0; i <= j; i++) {
            alpha.push(String.fromCharCode(i));
        }
        if (alpha) {
            $("#show_alphabets").show;
            $("#show_alphabets").html(alpha);
        } else {
            $("#show_alphabets").show;
            $("#show_alphabets").html("Error loading the alphabets");
        }

    }

    //create a function
    function getAlphaTerms() {
        const termList = document.getElementById("term-list");

        // Make an AJAX request to your PHP script
        const xhr = new XMLHttpRequest();
        xhr.open("GET", "fetch_terms.php?alphabet=" + alphabet, true);

        xhr.onload = function() {
            if (xhr.status === 200) {
                const response = JSON.parse(xhr.responseText);

                // Display the fetched terms
                termList.innerHTML = "<ul>";
                response.forEach(function(term) {
                    termList.innerHTML += "<li>" + term + "</li>";
                });
                termList.innerHTML += "</ul>";
            }
        };

        xhr.send();
    }
    function fetchAllTerms() {
    const termList = document.getElementById("term-list");
        // Make an AJAX request to your PHP script
        const xhr = new XMLHttpRequest();
        xhr.open("GET", "glossary-search.php", true);

        xhr.onload = function() {
            if (xhr.status === 200) {
                const response = JSON.parse(xhr.responseText);

                // Display the fetched terms with alphabet headings
                termList.innerHTML = "";

                let currentAlphabet = '';
                response.forEach(function(term) {
                    const firstLetter = term[0].toUpperCase();
                    if (firstLetter !== currentAlphabet) {
                        currentAlphabet = firstLetter;
                        termList.innerHTML += "<h2>" + currentAlphabet + "</h2>";
                    }
                    termList.innerHTML += "<p>" + term + "</p>";
                });
            }
        };

    xhr.send();
}


    function getTermDescription() {
        $('.single').on('click', function (event) {
            event.preventDefault();

        })

    }

    $(document).ready(function() {
        const _btn = $(this);

            $('#btn_delete').click(function() {
              // Hide the faculty section
              $('#faculty-section').hide();
              $('#selectedDomain').hide();
              $('#termDiv').hide();
              $('#termDiv').hide();
              $('#def_section').hide();
      
              // Change the button text from 'Save' to 'Okay'
              $('#btn_save').text('Okay');
          });
        });
    $(function () {
        var glossary_action = '';
        $('btnAlpha').on('click', function () {
            // getAlpaTerms()

        });


        $('#btn_new_term').on('click', function (event) {
            event.preventDefault();

        //     const _btn = $(this);
        //     $('#termModalLabel').html(`New Term`);
        //     $('#inp_term_type').val('addGlossaryTerm');
        //     $('#inp_term_id').val(0);
        //     $('#languageList').html('');
        //     $('#input_term_def').html('');
        //     $('#input_term_name').val('');
            
        //     $('#termModal').modal('show');
         });
        $('#glossary-body').on('click', 'dl button', function (event) {
            event.preventDefault();

            const _btn = $(this);
            const _event_trigger = event.target;
            const _btn_action = $(_event_trigger).attr("data-action");
            console.log(_btn_action)   ;   
            var title = '' ;
            
        switch (_btn_action) {
            case "new-term":
                title ='Adding new term';
                glossary_action = 'addGlossaryTerm';
                break;

            case "edit-term":
                title = `Editing: ${_btn.data('term_name')}`;
                glossary_action = 'updateGlossaryTerm';
                break;

            case "delete-term":
                title= `Are you sure you want to delete: ${_btn.data('term_name')} ?`;
                glossary_action = 'deleteGlossaryTerm';
                break;
            }
            console.log(glossary_action);

            // alert(`Hi, i am ${_btn.data('term_name')}`);
            $('#termModalLabel').html(title);
            $('#inp_term_type').val(glossary_action);
            $('#inp_term_id').val(_btn.data('term_id'));
            $('#btn_language_list').html(_btn.data('language_list'));
            $('#input_term_def').html(_btn.data('term_definition'));
            $('#input_term_name').val(_btn.data('term_name'));

            $('#termModal').modal('show');
        });
        
        $("#domain-dropdown").on("click", ".dropdown-item", function(event) {
            event.preventDefault();
            var selectedItem = $(this).data("value");

            $('#input_faculty').val(selectedItem);
            console.log("Selected Item: " + selectedItem);

        });
        $('#termModal').on('shown.bs.modal', function (e) {
            $('#inp_term_type').val(glossary_action);

        })
        $("#itemList").on("click", ".delete-btn", function() {
            var listItem = $(this).closest("li");
            var itemId = listItem.data("id");
        // Send an AJAX request to delete the item
        $.ajax({
            type: "POST",
            url: $(this).attr('post_url '),
            data: { id: itemId },
            success: function(response) {
                if (response === "success") {
                    listItem.remove(); // Remove the item from the list
                } else {
                    alert("Failed to delete the item.");
                }
            },
            error: function() {
                alert("Error occurred while deleting the item.");
            }
        });
    });

        //$("#termForm").submit(function (event) {
        $("#btn_save").click(function (event) {
            event.preventDefault();
            event.stopPropagation();

            const _modal = $('#termModal'),
                _form = $('#termForm'),
                _btn = $('#btn_save'),
                _btnAction = '';

            if (_form[0].checkValidity() === true) {
                _btn.html('<i class="fa fa-cog fa-spin"></i>&nbsp;&nbsp;Updating ...').addClass('disabled').attr('disabled', true);
                var formData = new FormData(document.getElementById("termForm"));
                
                // Send AJAX request
                $.ajax({
                type: "POST",
                url: '{{$post_url}}',
                data: formData,
                processData: false,
                contentType: false,
                success: function(response) {
                    alert("Data saved successfully!");
                    console.log(response)
                },
                error: function() {
                    console.log("encounted error",data)
                    alert("Error saving data. Please try again later.");
                }
                });

                //     // success: function (response) {
                //     //     console.log(response);
                //     //     _btn.html('Update').removeClass('disabled').attr('disabled', false);
                //     //     if (response['status'] == 'success') {
                //     //         $('#project_table').DataTable().search(response['data']['Name']).draw();
                //     //         _modal.modal('hide');
                //     //         $().msgpopup({
                //     //             text: 'Community Site was created',
                //     //             type: 'success'
                //     //         });
                //     //     } else {
                //     //         // $('#sandbox_table').DataTable().ajax.reload();
                //     //         $().msgpopup({
                //     //             text: response['data'],
                //     //             type: 'error'
                //     //         });
                //     //    }
                //     // },
                //     // error: function (xhr, status, error) {
                //     //     console.log(error);
                //     //     _btn.html('Update').removeClass('disabled').attr('disabled', false);
                //     //     _modal.modal('hide');
                //     // }
                // });

            }
            _form.addClass('was-validated');

        });
      
        $('#btn_cancel_termModal').on('click', function (event) {
            event.preventDefault();
            $('#termModal').modal('hide');
        });

    //     $(document).ready(function() {
    // $('#searchButton').on('click', function(event) {
    //     event.preventDefault();
    //     event.stopPropagation();

    //     // Get the value entered in the input box
    //     var searchTerm = $('#searchBox').val();
    //     searchWord(searchTerm);
    //     });
    // });
    $(document).ready(function() {
    // Event handler for the search button
    $("#searchButton").on("click", function() {
        var searchTerm = $('#searchBox').val().toLowerCase(); 
        $('#termList').html("");

        // Send an AJAX request to fetch terms from the database
        $.ajax({
            url: '{{$post_url}}',
            method: 'GET',
            dataType: 'json',
            success: function(response) {
                // Iterate through the fetched terms and display matching ones
                response.forEach(function(term) {
                    if (term.toLowerCase().includes(searchTerm)) {
                        $('#termList').append("<p>" + term + "</p>");
                    }
                });
            },
            error: function(error) {
                console.log("Error fetching terms from the database: " + error);
            }
            });
        });
    });

  $("#languageSelect").addEventListener("change", function () {
            const selectedLanguage = this.value;
            const xhr = new XMLHttpRequest();

            xhr.open("GET", `/get-terms?language=${selectedLanguage}`, true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    const terms = JSON.parse(xhr.responseText);

                    // Update the 'termsContainer' with the terms received from the server
                    document.getElementById("termsContainer").innerHTML = terms;
                }
            };
            xhr.send();
        });

    });
</script>